{% extends "base.html" %}

{% block content %}
<div class="green">
  <h1>All Questions</h1>
</div>

<form action="/core/search">
  <input placeholder="find question" type="text" name="q">
  <input type="submit" value="Search">
</form>

<p><a href="{% url 'add_question' %}">Add New Question</a></p>
<p><a href="{% url 'profile' %}">Profile Page</a></p>

<div class="flex flex-wrap">
  {% for question in questions %}
  {% include "core/question_partial.html" with question=question %}

  {% endfor %}
</div>
<br><a class="red" href="{% url 'list_questions' %}">Questions List</a><br>
{% endblock %}