{% block content %}

<div class="w-26 pa3 b--green b--dashed bg-washed-green ma1">
    <a href="{% url 'show_question' pk=question.pk %}">
      <h2>{{ question.title }}</h2>
    </a>

    {% if question.body %}
    <div class="flex">
      <div class="pr2"><i class="snip"></i></div>
      <div>{{ question.body }}</div>
    </div>
    {% endif %}

    {% if question.date_added %}
    <div class="flex">
      <div class="pr2"><i class="snip"></i></div>
      <div>{{ question.date_added }}</div>
    </div>
    {% endif %}

    {% if question.author %}
    <div class="flex">
      <div class="pr2"><i class="snip"></i></div>
      <div>{{ question.author }}</div>
    </div>
    {% endif %}

    <!-- <li>
      <a href="{% url 'show_question' pk=question.pk %}">{{ question.title }}</a> (by {{ question.user }}) {% if not question.public %}<b>private</b>{% endif %}
      -- starred {{ question.times_starred }} time{{ question.times_starred|pluralize }}
    </li> -->

    {% if user == question.user %}
    <p>
      <a class="red" href="{% url 'delete_question' pk=question.pk %}">Delete Question</a>
    </p>
    {% endif %}

    

  </div>

{% endblock %}