{% extends "base.html" %}
<!-- {% load static %}
{% block scripts %}
  <script src="{% static 'js/question.js' %}"></script>
{% endblock %} -->

{% block content %}
<div>
  <br>  
  <br>
  <br>
  <br> 
</div>

<div class="w-40 pa3 b--light-purple b--dashed">
  <h2>{{ question.title }}
    <a id="toggle-starred" data-question-id="{{ question.pk }}" class="no-underline pointer dib grow">
      {% if user_favorite %}
        &#9733;
      {% else %}
        &#9734;
      {% endif %}
      </a>
  </h2>

  {% if question.body %}
  <div class="flex">
    <div class="pr2"><i class="snip"></i></div>
    <div>{{ question.body }}</div>
  </div>
  {% endif %}

  {% if question.date_added %}
  <div class="flex">
    <div class="pr2"><i class="snip"></i></div>
    <div>{{ question.date_added }}</div>
  </div>
  {% endif %}

  {% if question.user %}
  <div class="flex">
    <div class="pr2"><i class="snip"></i></div>
    <div>{{ question.user }}</div>
  </div>
  {% endif %}

  <ul style='list-style-type: none'>
    {% for answer in answers %}
    <li>{{ answer.body }}
    <a data-answerid="{{ answer.pk }}" class="no-underline pointer dib grow toggler">
      {% if user.is_starred_answers %}
        &#9733;
      {% else %}
        &#9734;
      {% endif %}
      </a>
    <br>Posted by: {{ answer.author }} </li>
    <a class="red" href="{% url 'accept_answer' answer_pk=answer.pk %}">Accepted Answer?</a>
    {% if answer.accepted %}
    <strong>Yes</strong>
    {% endif %}
    {% endfor %}
    <br><a style="text-decoration:none" class="btn btn-outline-light mt-2 mt2 mb0 f6 fw4 ttu tracked" href="{% url 'add_answer' pk=question.pk%}">add answer</a>
  </ul>
</div>

  <p>
    <a class="red" href="{% url 'list_questions' %}">Questions List</a><br>
    {% if user == question.author %}
    <a class="red" href="{% url 'delete_question' pk=question.pk %}">Delete Question</a>
    {% endif %}
  </p>
</div>

<script>
  const toggleStarredLink = document.querySelector("#toggle-starred")
  toggleStarredLink.addEventListener('click', function (e) {
    e.preventDefault()
    const questionId = toggleStarredLink.dataset['questionId']
    fetch(`/core/${questionId}/starred/`, {
      method: 'POST'
    })
    .then(res => res.json())
    .then(data => {
      if (data.starred) {
        toggleStarredLink.innerHTML = '&#9733;'
      } else {
        toggleStarredLink.innerHTML = '&#9734;'
      }
    })

  })


  const toggleStarredLinks = document.querySelectorAll(".toggler")
  for (let link of toggleStarredLinks) {
    console.log(link)
    console.log(link.dataset.answerid)
    link.addEventListener('click', function (e) {
      e.preventDefault()
      const answerId = link.dataset.answerid
      console.log(answerId)
      fetch(`/answers/${answerId}/starred/`, {
        method: 'POST'
      })
      .then(res => res.json())
      .then(data => {
        if (data.starred) {
          link.innerHTML = '&#9733;'
        } else {
          link.innerHTML = '&#9734;'
        }
      })

    })
  }

</script>
{% endblock %}